node-ip: {{ oci_compute_facts.instances[0].primary_private_ip }}
node-external-ip: {{ oci_compute_facts.instances[0].primary_public_ip }}
token: {{ ansible_facts.hostname | to_uuid }}
node-label:
  - "kubernetes.io/arch={{ ansible_facts.architecture }}"
  - "kubernetes.io/hostname={{ ansible_facts.hostname }}"
  - "topology.kubernetes.io/region={{ oracle_metadata_instance.canonicalRegionName | lower }}"
  - "topology.kubernetes.io/zone={{ oracle_metadata_instance.ociAdName | lower}}"
  - "failure-domain.beta.kubernetes.io/zone={{ oracle_metadata_instance.faultDomain | lower }}"
  - "cloud.oracle.com/availability-domain={{ oracle_metadata_instance.ociAdName }}"
  - "cloud.oracle.com/fault-domain={{ oracle_metadata_instance.faultDomain | lower }}"
  - "cloud.oracle.com/oci-instance-shape={{ oracle_metadata_instance.shape | lower }}"
  - "cloud.oracle.com/oci-instancepool-id={{ oracle_metadata_instance.instancePoolId }}"
  - "cloud.oracle.com/oci-instance-id={{ oracle_metadata_instance.id }}"
kubelet-arg:
  - "cloud-provider=external"
  - "provider-id={{ oracle_metadata_instance.id }}"