agent-token: {{ ansible_facts.hostname | to_uuid }}
etcd-expose-metrics: "true"
flannel-backend: "none"
disable-cloud-controller: "true"
write-kubeconfig-mode: "0644"
write-kubeconfig: {{ k3s_kubeconfig_path }}/config
cluster-cidr: {{ k3s_cluster_cidr }}
service-cidr: {{ k3s_service_cidr }}
disable-network-policy: "true"
disable:
  - traefik
  - servicelb
advertise-address: {{ oci_compute_facts.instances | map(attribute="primary_public_ip") | first }}
tls-san:
  - "{{ k3s_apiserver_lb_hostname }}"